:root {
    --lightblue: rgb(207, 215, 228); 
    --blue: rgb(141, 168, 209); 
    --darkblue: rgb(14, 93, 211); 

    --lightgold: rgb(245, 187, 81); 
    --gold: rgb(226, 152, 14);
    --darkgold: rgb(241, 153, 21);

    --color1: rgb(252, 227, 175); /* input background */
    --color2: rgb(233, 186, 85); /* body background, space hover */
    --color3: rgb(240, 167, 33); /* placeholder text, board background */
    --color4: rgb(209, 120, 5); /* button background, marker color */
    --color5: rgb(168, 95, 0); /* body text, button hover border, grid lines */
    --color6: rgb(116, 75, 22); /* button text */

    --win: rgb(148, 217, 230);
    --tie: rgb(206, 33, 33);
}

@font-face {
    font-family: "CherryBombOne";
    src: url("./fonts/CherryBombOne-Regular.ttf") format('truetype');
}

* {
    box-sizing: border-box;
    font-family: "CherryBombOne";
}

body {
    background-color: var(--color2);
    color: var(--color5);
    margin: 0;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--darkblue);
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control div {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

input, button {
    border: none;
    border-radius: 25px;
    padding: 10px;
    height: 5vh;
    width: 20vw;
    margin: 5px;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
}

input {
    background-color: var(--color1);
    caret-color: var(--darkblue);
    color: var(--blue);
}

input::placeholder {
    color: var(--color3);
    letter-spacing: 2px;
    text-align: center;
    text-decoration: underline;
}

input:focus {
    outline: 2px solid var(--darkblue);
}

input:focus::placeholder {
  color: transparent;
}

.control > div > h2 {
    height: 5vh;
    width: 20vw;
    border-radius: 25px;
    margin: 5px;
    color: var(--darkblue);
}

button {
    background-color: var(--color4);
    color: var(--color6);
    padding: 0;
}

button:hover {
    cursor: pointer;
    border: 3px solid var(--darkblue);
    color: var(--darkblue);
}

.winner, .tie {
    border-radius: 50px;
    text-align: center;
    text-shadow: 1px 1px 10px var(--color5);
    font-size: calc(5vh - 10px);
    margin: 0;
}

.main {
    display: flex;
}

.board {
    margin: auto;
    height: 50vh;
    width: 50vh;
    border: 10px solid var(--color3);
    background-color: var(--color3);
    box-shadow: 1px 1px 20px 5px var(--blue);
    border-radius: 25px;
    color: var(--darkblue);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

[class*="space"] {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="space"] p {
    border-radius: 15px;
    font-size: 5vw;
    line-height: 1;
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="empty"] p:hover {
    background-color: var(--color2);
    color: var(--blue);
}

.space1, .space2, .space3 {
    border-bottom: 3px solid var(--darkblue);
}

.space7, .space8, .space9 {
    border-top: 3px solid var(--darkblue);
}

.space1, .space4, .space7 {
    border-right: 3px solid var(--darkblue);
}

.space3, .space6, .space9 {
    border-left: 3px solid var(--darkblue);
}