* {
    box-sizing: border-box;
}

body {
    background-color: grey;
    color: white;
    margin: 0;
    height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    margin: auto;
    padding: 25px;
    border-radius: 25px;
    background-color: lightgrey;
    color: black;
    display: flex;
    flex-direction: column;
}

div[class*="row"] {
    display: flex;
}

.space {
    margin: 5px;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space:hover {
    background-color: grey;
}

.space p {
    font-size: 75px;
}

.row-two {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.column-two {
    border-left: 2px solid black;
    border-right: 2px solid black;
}