* {
    box-sizing: border-box;
}

body {
    background-color: grey;
    color: white;
    margin: 0;
    height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    margin: auto;
    height: 50vh;
    width: 50vh;
    border: 10px solid lightgrey;
    border-radius: 25px;
    color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.space {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space p:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.space p {
    border-radius: 15px;
    font-size: 5vw;
    line-height: 1;
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space1 {
    border-top-left-radius: 13px;
}

.space3 {
    border-top-right-radius: 13px;
}

.space7 {
    border-bottom-left-radius: 13px;
}

.space9 {
    border-bottom-right-radius: 13px;
}

.space1, .space2, .space3 {
    border-bottom: 3px solid black;
}

.space7, .space8, .space9 {
    border-top: 3px solid black;
}

.space1, .space4, .space7 {
    border-right: 3px solid black;
}

.space3, .space6, .space9 {
    border-left: 3px solid black;
}